<div class="app flex-row align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card mx-2">
					<div class="card-block p-2">
						<h1>Register</h1>
						<p class="text-muted">Create your account</p>
						<form name="form" (ngSubmit)="register()" #f="ngForm" novalidate>
							<div class="input-group mb-1">
								<span class="input-group-addon"><i class="icon-user"></i></span>
								<input type="text" class="form-control" placeholder="FirstName" name="firstName" [(ngModel)]="model.firstName">
							</div>

							<div class="input-group mb-1">
								<span class="input-group-addon"><i class="icon-user"></i></span>
								<input type="text" class="form-control" placeholder="LastName" name="lastName" [(ngModel)]="model.lastName">
							</div>

							<div class="input-group mb-1">
								<span class="input-group-addon"><i class="icon-user"></i></span>
								<input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="model.username">
							</div>

<!-- 							<div class="input-group mb-1">
								<span class="input-group-addon">@</span>
								<input type="email" class="form-control" placeholder="email" [(ngModel)]="model.email">
							</d iv> -->

							<div class="input-group mb-1">
								<span class="input-group-addon"><i class="icon-lock"></i></span>
								<input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="model.password">
							</div>
							
							<button class="btn btn-block btn-success btn-ladda" data-style="expand-right" [ladda]='loading'>Create Account</button>
							<button [disabled]="loading" type="button" [routerLink]="['/login']" class="btn btn-block btn-danger">Cancel</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>